Http Protocol Bindings do not correctly URL encode header values

As per the spec: https://github.com/cloudevents/spec/blob/master/http-protocol-binding.md#3132-http-header-values

> Some CloudEvents metadata attributes can contain arbitrary UTF-8 string content, and per RFC7230, section 3, HTTP headers MUST only use printable characters from the US-ASCII character set, and are terminated by a CRLF sequence with OPTIONAL whitespace around the header value.

> String values MUST be percent-encoded as described in RFC3986, section 2.4 before applying the header encoding rules described in [RFC7230, section 3.2.6][rfc7230-section-3-2s6].

This library should URL encode headers when creating requests, and decode headers before mapping them to cloud events when decoding events.